@tailwind base;
@tailwind components;
@tailwind utilities;

/* Used in route map page */
.leaflet-div-icon {
    background-color: transparent !important;
    border: none !important;
}

/* Used in mobile home page */
/*      Defining rules */
.scrollMobile {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: calc(100vh - 4.5rem);
}
.scrollMobile > div {
    height: 100vh;
    scroll-snap-align: center;
    margin-top: -0.5rem;
}
.scrollMobile > div:first-child {
    scroll-snap-align: start;
}
.scrollMobile > footer {
    scroll-snap-align: end;
}

.noScrollDesktop {
    scroll-snap-type: none;
    overflow-y: hidden;
    height: auto;
}
.noScrollDesktop > div {
    height: auto;
}

/*      Applying rules */
.scrollable {
    @apply scrollMobile;
  }
  
  @screen lg {
    .scrollable {
      @apply noScrollDesktop;
    }
  }